{
  "semi": true,
  "singleQuote": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "tabWidth": 2,
  "printWidth": 80,
  "overrides": [
    {
      "files": "./store/**/*.ts",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "./src/components/**/*.{tsx,ts}",
      "options": {
        "printWidth": 100
      }
    }
  ],
  "organizeImportsSkipDestructiveCodeActions": true,
  "tailwindAttributes": [
    "enter",
    "enterFrom",
    "enterTo",
    "entered",
    "leave",
    "leaveFrom",
    "leaveTo"
  ],
  "tailwindFunctions": ["clsx", "cva"],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
